# Ignore environment variables
.env

# Ignore logs
logs/
*.log

# Ignore exports content but keep the folder
exports/*
!exports/.gitkeep

# Ignore sandbox content but keep the folder
sandbox/*
!sandbox/.gitkeep

# Python cache
__pycache__/
*.pyc
